@model izin.Models.KullaniciEkleVM
@{
    Layout = Layout = "~/Views/Shared/_LayoutHome.cshtml"; ;
}

    <div>

        <h2>Kullanıcı Ekle/Düzenle</h2>


        @using (Html.BeginForm("Ekle", "Kullanici", FormMethod.Post))
        {


            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Parola, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.eposta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.eposta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.id > 0)
                {

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-offset-2">
                        <div class="col-md-1">
                            @Html.CheckBoxFor(model => model.AktifMi, new { @style = "width: 16px; height: 16px;" })
                        </div>
                        @Html.LabelFor(model => model.AktifMi, new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
                    </div>

                }

                <div class="col-sm-12 col-md-6 col-lg-6 col-xs-offset-2">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.AdminMi, new { @style = "width: 16px; height: 16px;" })
                    </div>
                    @Html.LabelFor(model => model.AdminMi, new { @class = "control-label col-md-2" })
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xs-offset-2">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.YoneticiMi, new { @style = "width: 16px; height: 16px;" })
                    </div>
                    @Html.LabelFor(model => model.YoneticiMi, new { @class = "control-label col-md-2" })
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xs-offset-2">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.PersonelMi, new { @style = "width: 16px; height: 16px;" })
                    </div>
                    @Html.LabelFor(model => model.PersonelMi, new { @class = "control-label col-md-2" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ekle" class="btn btn-default" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-success">@ViewBag.SuccesMesssage</label>
                    </div>
                </div>

            </div>
        }

        <a href="@Url.Action("Index","Kullanici")">Kullanıcı İşlemleri</a>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



    </div>

<script type="text/javascript">

    function KullaniciSil(kullaniciId) {
        $.post("@Url.Action("KullaniciSil")", { kullaniciId: kullaniciId }, function (data) {

        if (data) {
            UyariVer("Başarılı", "Silme İşlemi Başarıyla Gerçekleştirildi", true, 4000);
            setTimeout(function () { window.location.reload(); }, 1000);
        }
        else {
            UyariVer("Hata", "Silme İşlemi Başarısız. Daha Sonra Tekrar Deneyiniz", false, 4000);
        }
    });
        }
</script>